Fluid rendered content:

<f:for each="{records}" as="record">
	<f:render partial="record" arguments="{record: record}"/>
	<div class="typo3-TCEforms-recHeaderRow">
		{record.icon} <span class="typo3-TCEforms-recHeader"></span>
		<f:if condition="{record.new}"><f:then>NEW</f:then>
			<f:else>[{record.uid}]</f:else>
		</f:if>
	</div>
</f:for>

{context.HtmlForHiddenFields}
<script language="javascript">
/*<![CDATA[*/
	Ext.onReady(function(){
		TYPO3.TCEFORMS.initRecords();
	});
/*]]>*/
</script>

<hr />