
<f:section name="default">
	<tr ###BGCOLOR_HEAD######CLASSATTR_2###>
		<td width="99%" colspan="2"><span style="color:###FONTCOLOR_HEAD###;"###CLASSATTR_4###><b>{element.label}</b></span><img name="req_{record.table}_{record.uid}_{element.fieldname}" src="clear.gif" class="t3-TCEforms-reqImg" alt="" /><img name="cm_{record.table}_{record.uid}_{element.fieldname}" src="clear.gif" class="t3-TCEforms-contentchangedImg" alt="" /> <!--{element.helpTextIcon}--> {element.helpText}</td>
	</tr>
	<tr ###BGCOLOR######CLASSATTR_1###>
		<td valign="top" colspan="2"><f:raw>{element.contents}</f:raw></td>
	</tr>
</f:section>

<f:section name="paletteelement">
	<f:escape value="{element.contents}" type="none"/>
</f:section>

<f:section name="palette">
	<tr class="class-main2">
		<td colspan="2" nowrap="nowrap" valign="top" class="palette-header"><strong>{element.label}</strong></td>
	</tr>
	<tr class="class-main1">
		<td valign="top" nowrap="nowrap" colspan="2">
			<f:render partial="palette" arguments="{palette: element.palette, element: element, record: record}"/>
		</td>
	</tr>
</f:section>
