
<f:section name="default">
	<f:if condition="{element.contents}">
		<tr class="class-main2" ###BGCOLOR_HEAD######CLASSATTR_2###>
			<td class="formField-header">
				<span style="color:###FONTCOLOR_HEAD###;"###CLASSATTR_4###><b><f:escape value="{element.label}" type="none"/></b></span>
				<img name="req_{record.table}_{record.uid}_{element.fieldname}" src="clear.gif" class="t3-TCEforms-reqImg" alt="" />
				<img name="cm_{record.table}_{record.uid}_{element.fieldname}" src="clear.gif" class="t3-TCEforms-contentchangedImg" alt="" />
			</td>
		</tr>
		<tr class="class-main1" ###BGCOLOR######CLASSATTR_1###>
			<td class="formField-field"><f:escape value="{element.contents}" type="none"/>
			<f:if condition="{element.palette}">
				<f:then>
					<f:if condition="{element.palette.collapsed}">
						<f:then><f:escape value="{element.palette.toggleicon}" type="none"/></f:then>
					</f:if>
					<f:render partial="palette" arguments="{palette: element.palette, element: element, record: record}"/>
				</f:then>
			</f:if></td>
		</tr>
	</f:if>
</f:section>

<f:section name="paletteelement">
	<span class="t3-form-palette-field-container">
		<label {f:escape(value: palette.labelAttributes, type: none)}>
			<f:escape value="{element.label}" type="none"/>
			<img name="req_{record.table}_{record.uid}_{element.fieldname}" src="clear.gif" class="t3-form-palette-icon-required" alt="" />
			<img name="cm_{record.table}_{record.uid}_{element.fieldname}" src="clear.gif" class="t3-form-palette-icon-contentchanged" alt="" />
		</label>
		<span {f:escape(value: palette.fieldAttributes, type: none)}>
			<f:escape value="{element.contents}" type="none"/>
		</span>
	</span>
</f:section>

<f:section name="palette">
	<tr class="class-main2">
		<td class="palette-header"><strong><f:escape value="{element.label}" type="none"/></strong></td>
	</tr>
	<tr class="class-main1">
		<td>
			<f:render partial="palette" arguments="{palette: element.palette, element: element, record: record}"/>
		</td>
	</tr>
</f:section>
