{namespace tceforms=t3lib_TCEforms_ViewHelpers}

<div {f:if(condition: '{element.palette.collapsed}', then: 'style="display: none;"', else: 'style="display: block;"')} id="TCEFORMS_{record.table}_{palette.name}_{record.uid}">
	<fieldset class="t3-form-palette-fieldset">
		<f:for each="{palette.elements}" as="pelement">
			<span class="t3-form-palette-field-container">
				<label {palette.labelAttributes}>
					{pelement.label}
						<img name="req_{record.table}_{record.uid}_{pelement.fieldname}" src="clear.gif" class="t3-form-palette-icon-required" alt="" />
					<img name="cm_{record.table}_{record.uid}_{pelement.fieldname}" src="clear.gif" class="t3-form-palette-icon-contentchanged" alt="" />
				</label>
				<span {palette.fieldAttributes}>
					<tceforms:element element="{pelement}" record="{record}" inpalette="true"/> <!-- insert help icon -->
				</span>
			</span>
		</f:for>
	</fieldset>
</div>