{namespace tceforms=t3lib_TCEforms_ViewHelpers}
  
<script type="text/javascript">
/*<![CDATA[*/
		Ext.onReady(function(){
/*]]>*/
			TYPO3.TCEFORMS.registerRecord('{record.table}', '{record.uid}', '{record.shortSheetIdentifier}');
/*<![CDATA[*/
		});
/*]]>*/
</script>
<script type="text/javascript">
/*<![CDATA[*/

Ext.onReady(function(){

// tab generation code
/*var index = 0;
while(index < 7){
	addTab();
}*/

/*new Ext.Button({
	text: 'Add Tab',
	handler: addTab,
	iconCls:'new-tab'
}).render(document.body, 'tabs');*/
});

/*]]>*/
</script>
<div id="record-tabs">

</div>
<div id="record-{record.shortSheetIdentifier}">
	<f:for each="{record.sheets}" as="sheet" iteration="iteration">
		<div class="c-tablayer x-hide-display typo3-dyntabmenu-divs" style="border-top:none;" id="{record.shortSheetIdentifier}-{iteration.index}-DIV" title="{sheet.header}">
			<table class="wrapperTable typo3-TCEforms" border="0" cellspacing="0" cellpadding="0" width="100%">
				<f:for each="{sheet.elements}" as="element">
					<tceforms:element element="{element}" record="{record}" />
				</f:for>
			</table>
		</div>
	</f:for>
</div>